---
---

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    background: black;
    color: black;
    height: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-image: url("/images/dot-grid.png");
    line-height: 1.7em;
    font-weight: 400;

    h1 {
        font-size: 2em;
        font-weight: 300;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        font-weight: bold;
    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;

        .header {
            flex-grow: 0;
            background: black;
            width: 100%;
            color: white;
            font-weight: 300;
            font-size: 3em;
        }

        .content {
            flex-grow: 1;
            display: flex;
            text-align: center;
            justify-content: center;

            img {
                width: 500px;
                max-width: 80%;
                padding: 20px 0;
                margin: 0 auto;
            }

            .float {
                display: inline-block;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        .footer {
            flex-grow: 0;
            width: 100%;
            color: black;
            padding: 25px 0;

            a {
                color: black;
            }
        }
    }
}
